<%- include("partials/header") -%>

<h1>Compose</h1>

<!-- <form>
    <input type="text" name=""> <input type="submit" value="Publish">
</form> -->
<form class="" action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="postTitle">
        <label>Post</label>
        <textarea type="text" class="form-control" rows="3" name="postBody"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>